.more-btn {
  margin: 18px 0 0;
  padding: 10px 0;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  letter-spacing: .2rem;
  font-weight: 700;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    border-bottom: 1px solid $black;
  }
}

.underline-btn {
  border-bottom: 1px solid $black;

  &:hover {
    border:none;
  }
}

.black-btn {
  height: 47px;
  width: 123px;
  background-color: $black;
  color: $white;
  font-size: 16px;
  font-weight: 700;
  outline: none;
  border: none;
  cursor: pointer;
}

.search-btn {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;

}

