* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0; }

ul, li, ol {
  padding: 0;
  margin: 0;
  list-style: none; }

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit; }

button {
  outline: none; }

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

header {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 999;
  transition: all 0.3s linear; }
  header .gnb {
    width: 61.5%;
    padding: 42px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent; }
    header .gnb__contents-logo {
      float: left;
      margin: 5px 80px 0 0;
      font-size: 24px;
      letter-spacing: 1.5px; }
    header .gnb ul {
      float: left;
      margin: 7px 0 0; }
      header .gnb ul li {
        display: inline-block;
        padding: 0 25px 0 0;
        font-size: 13px;
        color: #fff; }
        header .gnb ul li:hover {
          color: #FF5274;
          transition: color 0.15s ease-out; }
    header .gnb__btn {
      float: right;
      font-size: 13px;
      color: #fff;
      cursor: pointer; }
      header .gnb__btn div {
        display: inline-block;
        margin: 0 22px 0 0; }
        header .gnb__btn div:hover {
          color: #FF5274;
          transition: color 0.15s ease-out; }
      header .gnb__btn button {
        margin: 0;
        padding: 8px 40px;
        color: #fff;
        font-size: 13px;
        line-height: 1.4;
        border: 2px solid #fff;
        background: transparent;
        border-radius: 50px;
        font-family: inherit; }
        header .gnb__btn button:hover {
          border: 2px solid #FF5274;
          color: #FF5274;
          transition: all 0.15s ease-out; }

.solid-header {
  height: 100px;
  background-color: #272a31;
  transition: all 0.3s linear; }
  .solid-header .gnb {
    padding: 44px 0;
    border-bottom: none; }

footer {
  margin: 200px 0 0;
  width: 100%; }
  footer .scroll-to-top {
    width: 100%;
    height: 60px;
    background-color: #495061; }
    footer .scroll-to-top .arrow-up {
      width: 70px;
      height: 60px;
      text-align: center;
      float: right;
      margin: 0 20% 0 0;
      color: #fff;
      background-color: #3D4351; }
      footer .scroll-to-top .arrow-up i {
        margin: 23px 0 0; }
      footer .scroll-to-top .arrow-up:hover {
        background-color: rgba(0, 0, 0, 0.4);
        cursor: pointer; }
  footer .fnb {
    height: 400px;
    display: flex; }
    footer .fnb .fnb-left {
      width: 60%;
      background-color: #404653;
      padding: 150px 75px 0 21.3%;
      color: #fff;
      font-size: 13px; }
      footer .fnb .fnb-left ul {
        display: flex;
        border-top: 1px solid #5C5F6A; }
        footer .fnb .fnb-left ul li {
          padding: 20px 0 40px;
          margin: 0 25px 0 0; }
      footer .fnb .fnb-left .copyright span {
        color: #c1c1c2; }
      footer .fnb .fnb-left .licence {
        margin: 10px 0 0 0; }
        footer .fnb .fnb-left .licence span:nth-child(1) {
          border-right: 1px solid #c1c1c2;
          padding: 0 3px; }
        footer .fnb .fnb-left .licence span:nth-child(2) {
          color: #c1c1c2; }
        footer .fnb .fnb-left .licence span:nth-child(3) {
          color: #d33232;
          padding: 0 3px; }
        footer .fnb .fnb-left .licence span:nth-child(4) {
          color: #c1c1c2; }
    footer .fnb .sns {
      width: 40%;
      background-color: #363b46;
      padding: 150px 21.3% 0 75px; }
      footer .fnb .sns p {
        font-size: 13px;
        color: #fff;
        font-family: inherit; }
      footer .fnb .sns__btn {
        display: flex; }
        footer .fnb .sns__btn .sns-btn {
          height: 60px;
          width: 60px;
          border-radius: 4px;
          text-align: center;
          color: #fff;
          font-size: 20px; }
          footer .fnb .sns__btn .sns-btn i {
            margin: 20px 0; }
        footer .fnb .sns__btn .facebook {
          background-color: #3B5898;
          margin: 20px 20px 0 0; }
        footer .fnb .sns__btn .twitter {
          background-color: #1AB4EF;
          margin: 20px 20px 0 0; }

main .intro {
  padding: 120px 0 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("../img/hero.jpg") no-repeat center center;
  background-size: cover; }
  main .intro__slogan {
    margin: 150px 0 0;
    text-align: center;
    font-family: inherit; }
    main .intro__slogan h1 {
      color: #fff;
      font-size: 60px;
      font-weight: 500;
      line-height: 1.1;
      margin: 0 0 40px; }
    main .intro__slogan p {
      color: #fff;
      font-size: 20px;
      font-weight: 300;
      margin: 0 0 20px; }
  main .intro__btn {
    margin: 80px 0 0; }
    main .intro__btn button {
      width: 159px;
      height: 51px;
      border-radius: 80px;
      font-size: 13px;
      font-family: inherit;
      cursor: pointer; }
      main .intro__btn button:nth-child(1) {
        color: #fff;
        background-color: #FF5274;
        border: none;
        margin: 0 20px 0 0; }
        main .intro__btn button:nth-child(1):hover {
          background-color: #D7405D;
          transition: background-color 0.15s ease-out; }
      main .intro__btn button:nth-child(2) {
        color: #FF5274;
        background-color: transparent;
        border: 2px solid #FF5274; }
        main .intro__btn button:nth-child(2):hover {
          color: #fff;
          background-color: #FF5274;
          transition: all 0.15s ease-out; }
  main .intro__arrow-btn {
    margin: 150px 0 0;
    text-align: center;
    color: #fff; }
  main .intro .ad {
    width: 182px;
    padding: 20px 10px;
    position: absolute;
    right: 20px;
    color: #f1f1f1;
    opacity: 0.8;
    top: 500px;
    font-size: 10px;
    background: rgba(64, 72, 90, 0.37); }
    main .intro .ad__img-frame {
      width: 100%;
      height: 120px;
      overflow: hidden;
      background-color: rgba(173, 175, 182, 0.37);
      text-align: center; }
      main .intro .ad__img-frame img {
        margin: 50px 0 0; }
    main .intro .ad p {
      line-height: 1.7;
      margin: 3px 0; }
    main .intro .ad__btn span {
      color: #df7e8e;
      cursor: pointer; }
      main .intro .ad__btn span:nth-child(2) {
        float: right;
        color: #c23049;
        font-weight: bold; }

main .summary {
  padding: 140px 16%;
  display: flex;
  align-items: center;
  justify-content: center; }
  main .summary__card {
    width: 100%;
    margin: 0 30px; }
    main .summary__card .icon {
      width: 10%;
      margin: 0 20px 30px 0;
      display: inline-block;
      vertical-align: top;
      font-size: 38px;
      color: #FF5274; }
    main .summary__card .card__contents {
      width: 79%;
      display: inline-block;
      vertical-align: top; }
      main .summary__card .card__contents h4 {
        font-size: 15px;
        color: #3D4351;
        margin: 0 0 10px;
        font-weight: bold;
        opacity: 0.8; }
      main .summary__card .card__contents p {
        font-size: 15px;
        line-height: 29px;
        color: rgba(28, 54, 83, 0.6);
        padding: 0 0 20px; }

main .features {
  height: 780px;
  padding: 150px 30px 0;
  background-color: #F3F4F8;
  overflow: hidden;
  display: flex; }
  main .features__img-frame {
    height: 100%;
    margin: 0 18% 0 0;
    position: relative; }
    main .features__img-frame img:nth-child(2) {
      position: absolute;
      right: -120px;
      top: 40%; }
  main .features__contents {
    width: 25%;
    transform: translateY(-20px);
    margin: 0 0 100px; }
    main .features__contents p {
      font-size: 15px;
      line-height: 29px;
      color: rgba(28, 54, 83, 0.6); }
    main .features__contents .contents__phrases h2 {
      font-size: 25px;
      margin: 0 0 20px;
      color: #3D4351;
      line-height: 1.1; }
    main .features__contents ul .feature-list {
      width: 400px;
      height: 150px;
      border-bottom: 1px solid #E6E9EA;
      display: flex;
      align-items: center; }
      main .features__contents ul .feature-list .icon {
        margin: 0 23px 50px 0;
        font-size: 38px;
        color: #FF5274; }
      main .features__contents ul .feature-list:nth-child(2) .icon {
        margin: 0 23px 70px 0; }
      main .features__contents ul .feature-list__contents h4 {
        font-size: 15px;
        color: #3D4351;
        margin: 0 0 10px;
        font-weight: bold;
        opacity: 0.8; }

main .assets {
  height: 540px;
  margin: 120px 20px;
  text-align: center; }
  main .assets__img-frame {
    width: 50%;
    height: 100%;
    overflow: hidden;
    float: right;
    font-size: 0; }
  main .assets__contents {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    transform: translateX(20px); }
    main .assets__contents h2 {
      font-size: 25px;
      margin: 0 0 20px;
      color: #3D4351;
      line-height: 1.1; }
    main .assets__contents p {
      font-size: 15px;
      line-height: 29px;
      color: rgba(28, 54, 83, 0.6);
      padding: 0 0 20px; }
      main .assets__contents p:nth-child(2) {
        margin: 30px 0 0; }
    main .assets__contents button {
      padding: 10px 40px;
      margin: 50px 0;
      border: 2px solid #FF5274;
      border-radius: 20px;
      color: #FF5274;
      background-color: transparent;
      font-family: inherit;
      font-size: 12px;
      font-weight: bold;
      cursor: pointer; }
      main .assets__contents button:hover {
        background-color: #FF5274;
        color: #fff;
        transition: all 0.2s linear; }

main .download {
  margin: 100px 0;
  position: relative; }
  main .download .contents-wrapper {
    width: 100%;
    padding: 130px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../img/polygonal-bg.jpg) no-repeat center center;
    background-size: cover; }
    main .download .contents-wrapper .download__title {
      color: #fff;
      margin: 0 0 20px 0;
      font-size: 40px;
      font-weight: 300;
      position: relative; }
      main .download .contents-wrapper .download__title h3 {
        display: inline; }
        main .download .contents-wrapper .download__title h3:nth-child(1) {
          margin: 0 12px 0 0; }
          main .download .contents-wrapper .download__title h3:nth-child(1):after {
            content: '3';
            font-size: 22px;
            position: absolute;
            top: 0;
            color: #F69D52;
            font-weight: bold; }
  main .download p {
    font-size: 15px;
    line-height: 29px;
    color: #ACB1B4; }
  main .download button {
    padding: 15px 40px;
    margin: 50px 0;
    border: 2px solid #FF5274;
    border-radius: 40px;
    color: #FF5274;
    background-color: transparent;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer; }
    main .download button:hover {
      background-color: #FF5274;
      color: #fff;
      transition: all 0.2s linear; }
  main .download__img-frame {
    width: 240px;
    height: 215px;
    margin: 20px 0 0;
    background: url(../img/sketch-logo.png) no-repeat center center;
    background-size: cover;
    position: absolute;
    bottom: -80px;
    left: 45%; }

main .blog {
  width: 100%;
  margin: 200px 0 150px;
  flex-direction: column;
  display: flex;
  align-items: center; }
  main .blog .blog-desc .section-title {
    margin: 0 0 80px 21%; }
    main .blog .blog-desc .section-title h2 {
      width: 50%;
      font-size: 25px;
      margin: 0 0 0 20px;
      color: #3D4351;
      line-height: 1.1; }
  main .blog .blog-desc .section-content {
    display: flex;
    align-items: center; }
    main .blog .blog-desc .section-content .desc {
      padding: 0 21.3% 0 75px; }
      main .blog .blog-desc .section-content .desc h4 {
        font-size: 15px;
        color: #3D4351;
        margin: 0 0 10px;
        font-weight: bold;
        opacity: 0.8; }
      main .blog .blog-desc .section-content .desc p {
        font-size: 15px;
        line-height: 29px;
        color: rgba(28, 54, 83, 0.6);
        padding: 0 0 20px; }
      main .blog .blog-desc .section-content .desc:nth-child(1) {
        border-right: 1px solid #E6E9EA;
        padding: 0 75px 0 21.3%; }
  main .blog ul {
    width: 100%;
    margin: 100px 0 70px;
    text-align: center; }
    main .blog ul li {
      display: inline-block; }
      main .blog ul li .blog__img-frame {
        min-width: 600px;
        min-height: 330px;
        margin: 15px; }
      main .blog ul li:nth-child(1) .blog__img-frame {
        background: url(../img/blog-img-01.jpg) no-repeat center center;
        background-size: cover; }
      main .blog ul li:nth-child(2) .blog__img-frame {
        background: url(../img/blog-img-02.jpg) no-repeat center center;
        background-size: cover; }
      main .blog ul li:nth-child(3) .blog__img-frame {
        background: url(../img/blog-img-03.jpg) no-repeat center center;
        background-size: cover; }
      main .blog ul li .category {
        position: relative;
        margin: 40px 0 15px;
        color: #FF5274;
        font-size: 11px;
        font-weight: bold; }
        main .blog ul li .category .tooltip {
          visibility: hidden;
          width: 100px;
          background-color: #202020;
          color: #fff;
          text-align: center;
          padding: 5px 0;
          border-radius: 6px;
          position: absolute;
          top: -30px;
          right: 42%; }
          main .blog ul li .category .tooltip i {
            font-size: 12px;
            position: absolute;
            top: 18px;
            right: 50%;
            color: #202020; }
        main .blog ul li .category:hover .tooltip {
          visibility: visible; }
      main .blog ul li .blog-title {
        color: #3D4351;
        opacity: 0.6; }
        main .blog ul li .blog-title i {
          margin: 0 0 0 6px; }
  main .blog button {
    margin: 0 20px 0 0;
    padding: 9px 43px;
    border-radius: 80px;
    font-size: 13px;
    font-family: inherit;
    cursor: pointer;
    color: #FF5274;
    background-color: transparent;
    border: 2px solid #FF5274; }
    main .blog button:hover {
      background-color: #FF5274;
      color: #fff;
      transition: all 0.15s ease-out; }

main .slider {
  height: 520px;
  text-align: center;
  background: url(../img/testimonials-bg.jpg) no-repeat center center;
  background-size: cover;
  overflow: hidden;
  display: flex;
  align-items: center; }
  main .slider .slider__btn-left {
    float: left;
    width: 50px;
    height: 100%;
    vertical-align: middle;
    font-size: 30px; }
  main .slider .slider__btn-right {
    float: right;
    width: 50px;
    height: 100%;
    vertical-align: middle;
    font-size: 30px; }
  main .slider .slider__slides {
    width: 100%;
    text-align: center;
    padding: 20px 100px; }
    main .slider .slider__slides .slides {
      display: none; }
    main .slider .slider__slides .show {
      padding: 0 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      main .slider .slider__slides .show .avatar {
        width: 80px;
        height: 80px;
        border: 4px solid #fff;
        overflow: hidden;
        border-radius: 50px; }
      main .slider .slider__slides .show h3 {
        font-size: 40px;
        color: #fff; }
      main .slider .slider__slides .show:nth-child(1) .avatar {
        background: url(../img/avatar.jpg) no-repeat center center;
        background-size: cover; }
      main .slider .slider__slides .show:nth-child(2) .avatar {
        background: url(../img/mani.jpg) no-repeat center center;
        background-size: cover; }
      main .slider .slider__slides .show:nth-child(3) .avatar {
        background: url(../img/130.jpg) no-repeat center center;
        background-size: cover; }

main .sign-up {
  margin: 150px 0 0;
  text-align: center; }
  main .sign-up h2 {
    margin: 0 0 20px;
    font-size: 25px;
    color: #3D4351;
    line-height: 1.1; }
  main .sign-up p {
    font-size: 15px;
    line-height: 29px;
    color: rgba(28, 54, 83, 0.6);
    padding: 0 0 20px;
    position: relative; }
  main .sign-up .form .form-icon {
    position: absolute;
    padding: 0 20px;
    margin: 15px 0;
    z-index: 3;
    border-right: 1px solid #f1f1f1;
    font-size: 12px;
    color: #FF5274; }
  main .sign-up .form input {
    width: 420px;
    height: 50px;
    padding: 15px 60px;
    margin: 0 0 9px;
    border: 1px solid #f1f1f1;
    border-radius: 3px; }
    main .sign-up .form input::placeholder {
      color: #c9c9c9;
      padding: 0 0 0 10px; }
  main .sign-up button {
    width: 420px;
    height: 50px;
    padding: 15px 40px;
    color: #fff;
    background-color: #FF5274;
    border: 1px solid #FF5274;
    border-radius: 3px;
    cursor: pointer; }
    main .sign-up button:hover {
      background-color: #D7405D; }

body {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 300; }
