.search-modal {
  width: 100vw;
  height: 100vh;
  display: none;
  top: 0;

  background-color: white;

  .close-btn {
    width: 70px;
    height: 70px;
    position: absolute;
    right: 20px;
    top: 20px;
    background-color:transparent;
    border:none;
    outline: none;
    font-size: 50px;
    color: #d8d8d8;
    cursor: pointer;

    &:hover {
      color: $black;
    }
  }

  input {
    height: 70px;
    width: 50%;
    padding: 20px 40px;
    position: absolute;
    top:40%;
    left: 25%;
    font-family: "Cormorant Garamond", serif;
    font-size: 2rem;
    text-align: center;
    border: none;
    border-bottom: 1px solid $light-gray;
    outline: none;

    &:focus ~ .remove-btn {
      display: block;
    }
  }

  .remove-btn {
    width: 30px;
    height: 30px;
    display: none;
    position: absolute;
    right: 23%;
    top:45%;
    font-size: 25px;
    color: rgb(52, 52, 163);
    background-color:transparent;
    border:none;
    outline: none;
    cursor: pointer;

    &:hover {
      display: block;
    }
  }

}

.show-modal{
  display: block;
}