$white:#fff;
$black:#000;
$orange:#ff896b;
$strong-orange: #ff4c1f;
$green:#394f4b;

$gray: #6c757d;
$light-gray: #efefef;
$gray-dark: #343a40;
$primary: #ff896b;


$light-font:#707070;

$light: #f8f9fa;
$dark: #343a40;
$dark-blue: #495057;
$icon-background:#fff;