* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0; }

ul, li, ol {
  padding: 0;
  margin: 0;
  list-style: none; }

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit; }

button {
  outline: none; }

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

@keyframes SlideDown {
  from {
    height: 0; }
  to {
    height: 70px; } }

@keyframes SlideUp {
  from {
    height: 70px; }
  to {
    height: 0; } }

header {
  width: 100%;
  height: 70px;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  z-index: 999; }
  header nav {
    width: 53%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap; }
    header nav .logo {
      padding: 2px 0 2px 4px;
      font-size: 1.1rem;
      letter-spacing: .3em;
      color: #fff;
      font-weight: 300; }
    header nav ul {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      padding: 2px 5px 0 0; }
      header nav ul li {
        margin: 0 10px;
        font-size: 11px;
        letter-spacing: .1em;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.5); }
        header nav ul li:hover {
          color: #fff; }
      header nav ul .current-page {
        color: #fff; }

.dark-header {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.856);
  animation: SlideDown 0.3s linear; }

.hide-headr {
  animation: SlideUp 0.3s linear; }

footer {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  border-top: 1px solid #eeecec; }
  footer ul {
    width: 50%;
    margin: 0 100px 100px 0;
    display: flex;
    justify-content: space-around; }
    footer ul li {
      display: flex;
      flex-direction: column;
      text-align: left;
      font-weight: 300; }
      footer ul li div {
        margin: 10px 0; }
      footer ul li a {
        color: #0fb64f;
        font-size: 14px;
        opacity: 0.7;
        line-height: 1.7;
        cursor: pointer; }
        footer ul li a:hover {
          color: #086608;
          opacity: 1; }
  footer .source {
    text-align: center;
    font-size: 13px;
    opacity: 0.7;
    font-weight: 300; }
    footer .source p {
      margin: 8px 0 20px; }
      footer .source p span {
        font-size: 10px; }
    footer .source a {
      color: #09c752; }

@keyframes ShowUp {
  from {
    opacity: 0;
    transform: translateY(30px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

main .intro {
  width: 100%;
  height: 100%;
  background: url(../img/bg_1.jpg) no-repeat center center;
  background-size: cover; }
  main .intro .intro-overlay {
    width: 100%;
    padding: 152px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); }
    main .intro .intro-overlay .intro-content {
      width: 25%;
      padding: 105px 0;
      margin: 0 30px 0 0;
      color: #fff;
      font-weight: 300; }
      main .intro .intro-overlay .intro-content h1 {
        font-size: 3.2rem;
        line-height: 1.1;
        opacity: 0.9; }
      main .intro .intro-overlay .intro-content p {
        margin: 10px 0 0;
        font-size: 18px;
        color: #cecdcd;
        line-height: 1.7; }
        main .intro .intro-overlay .intro-content p a {
          color: #09c752;
          opacity: 1; }
      main .intro .intro-overlay .intro-content button {
        margin: 30px 0 0;
        background-color: #02ca4f;
        color: white;
        border: none;
        padding: 15px 50px;
        border-radius: 3px;
        font-size: 12px;
        letter-spacing: 1.5px; }
    main .intro .intro-overlay .travel-form {
      width: 25.7%;
      height: 320px;
      padding: 27px 20px;
      margin: 0 0 40px;
      background-color: #fff;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      color: #979696; }
      main .intro .intro-overlay .travel-form label {
        font-size: 12px;
        margin: 0 0 10px;
        font-weight: 300; }
      main .intro .intro-overlay .travel-form input, main .intro .intro-overlay .travel-form select {
        padding: 9px 20px;
        text-align: center;
        border: 1px solid #d1d1d1; }
      main .intro .intro-overlay .travel-form .location {
        position: relative; }
        main .intro .intro-overlay .travel-form .location .show {
          display: block; }
        main .intro .intro-overlay .travel-form .location-input {
          width: 100%;
          height: 42px;
          padding: 0 8px;
          border: 1px solid #d1d1d1;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 14px;
          border-radius: 4px;
          cursor: pointer; }
          main .intro .intro-overlay .travel-form .location-input i {
            font-size: 11px; }
        main .intro .intro-overlay .travel-form .location .line-drp-popup {
          position: absolute;
          display: none;
          width: 100%;
          top: 65px;
          text-align: left;
          border: 1px solid #d1d1d1;
          border-top: none;
          z-index: 11; }
          main .intro .intro-overlay .travel-form .location .line-drp-popup .line-drp-bg {
            background: #fff; }
          main .intro .intro-overlay .travel-form .location .line-drp-popup .line-drp-input {
            margin: 5px;
            border: 1px solid #d1d1d1; }
            main .intro .intro-overlay .travel-form .location .line-drp-popup .line-drp-input input {
              height: 30px;
              width: 100%;
              border: none;
              outline: none;
              text-align: left; }
          main .intro .intro-overlay .travel-form .location .line-drp-popup .line-list {
            max-height: 180px;
            overflow-y: auto;
            overflow-x: hidden;
            border: 1px solid #eeeeee; }
            main .intro .intro-overlay .travel-form .location .line-drp-popup .line-list li {
              font-size: 12px;
              color: #444a59;
              height: 30px;
              line-height: 30px;
              width: 100%;
              display: block;
              font-weight: bold;
              padding: 0 12px;
              border-bottom: 1px solid #eeeeee;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              cursor: pointer; }
              main .intro .intro-overlay .travel-form .location .line-drp-popup .line-list li:hover {
                background: #61ccfd;
                color: #fff; }
              main .intro .intro-overlay .travel-form .location .line-drp-popup .line-list li:last-child {
                border: none; }
      main .intro .intro-overlay .travel-form .travel-date {
        margin: 0 0 20px; }
        main .intro .intro-overlay .travel-form .travel-date input {
          border-radius: 3px;
          outline: none;
          height: 42px; }
          main .intro .intro-overlay .travel-form .travel-date input::-webkit-datetime-edit-text {
            -webkit-appearance: none;
            display: none; }
          main .intro .intro-overlay .travel-form .travel-date input::-webkit-datetime-edit-month-field {
            -webkit-appearance: none;
            display: none; }
          main .intro .intro-overlay .travel-form .travel-date input::-webkit-datetime-edit-day-field {
            -webkit-appearance: none;
            display: none; }
          main .intro .intro-overlay .travel-form .travel-date input::-webkit-datetime-edit-year-field {
            -webkit-appearance: none;
            display: none; }
          main .intro .intro-overlay .travel-form .travel-date input:hover {
            cursor: text;
            border: 1px solid #09c752;
            box-shadow: 0 0 5px #e0e0e0, 0 0 3px #e0e0e0;
            transition: all 0.3s ease; }
          main .intro .intro-overlay .travel-form .travel-date input:focus {
            border: 1px solid #09c752;
            box-shadow: 0 0 5px #e0e0e0, 0 0 3px #e0e0e0; }
      main .intro .intro-overlay .travel-form .form-content {
        width: 200px;
        display: flex;
        flex-direction: column; }
      main .intro .intro-overlay .travel-form .travel-type {
        flex-direction: row;
        font-size: 12px; }
        main .intro .intro-overlay .travel-form .travel-type .type-oneway {
          margin: 0 0 20px 50px; }
        main .intro .intro-overlay .travel-form .travel-type input {
          width: 11px;
          height: 11px;
          margin: 0; }
      main .intro .intro-overlay .travel-form button {
        width: 190px;
        padding: 15px 20px;
        text-align: center;
        font-size: 12px;
        letter-spacing: 1.8px;
        background-color: #02ca4f;
        color: #fff;
        border: none;
        border-radius: 4px; }
        main .intro .intro-overlay .travel-form button:hover {
          background-color: #039639;
          transition: all 0.2s linear; }

main .top-places {
  padding: 100px 0 0;
  margin: 220px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: nowrap;
  border-top: 1px solid #d1d1d1; }
  main .top-places ul {
    margin: 45px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap; }
    main .top-places ul:hover > li {
      opacity: 0.5; }
    main .top-places ul li {
      margin: 0 28px 0 0;
      position: relative; }
      main .top-places ul li:nth-child(4) {
        margin: 0; }
      main .top-places ul li .place {
        width: 230px;
        height: 340px;
        cursor: pointer; }
        main .top-places ul li .place:hover {
          transform: scale(1.1) translateY(-17px);
          box-shadow: 5px 4px 10px #d8d8d8;
          transition: all 0.2s linear; }
        main .top-places ul li .place:hover + .place-name {
          visibility: visible;
          bottom: -40px;
          transition: all 0.2s linear; }
      main .top-places ul li .buena {
        background: url(../img/img_1.jpg) no-repeat center center;
        background-size: cover; }
      main .top-places ul li .road {
        background: url(../img/img_2.jpg) no-repeat center center;
        background-size: cover; }
      main .top-places ul li .australia {
        background: url(../img/img_3.jpg) no-repeat center center;
        background-size: cover; }
      main .top-places ul li .japan {
        background: url(../img/img_4.jpg) no-repeat center center;
        background-size: cover; }
      main .top-places ul li .place-name {
        visibility: hidden;
        font-size: 25px;
        font-weight: 300;
        position: absolute;
        bottom: 0;
        left: 80px;
        z-index: -1; }
      main .top-places ul li:hover {
        opacity: 1; }

main .services {
  margin: 200px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  main .services ul {
    width: 100%;
    margin: 180px 0 108px;
    display: flex;
    flex-wrap: wrap; }
    main .services ul li {
      width: 50%;
      padding: 100px;
      background-color: #ececec; }
      main .services ul li:nth-child(1) {
        background: url(../img/img_2.jpg) no-repeat center center;
        background-size: cover; }
      main .services ul li:nth-child(4) {
        background: url(../img/img_3.jpg) no-repeat center center;
        background-size: cover; }
      main .services ul li h3 {
        color: #212529;
        font-size: 30px;
        font-weight: 300; }
      main .services ul li p {
        margin: 22px 0 0;
        font-size: 13px;
        line-height: 1.7;
        opacity: 0.4; }
      main .services ul li button {
        margin: 15px 0 0;
        padding: 15px 23px;
        background-color: #09c752;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 12px;
        letter-spacing: 2.5px;
        cursor: pointer; }
        main .services ul li button:hover {
          background-color: #039639; }

main .suggest {
  text-align: center;
  padding: 0 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  main .suggest .container {
    margin: 60px 0 50px; }
    main .suggest .container .swiper-container {
      width: 1024px;
      height: 100%;
      padding: 20px 0 20px 45px;
      display: flex;
      position: relative;
      overflow: hidden; }
      main .suggest .container .swiper-container .swiper-wrapper {
        width: 4800px;
        height: 250px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        transform: translateX(-20px); }
        main .suggest .container .swiper-container .swiper-wrapper .swiper-slide {
          height: 150px;
          width: 300px;
          padding: 100px 0;
          margin: 0 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 18px;
          background: #fff;
          border: 1px solid #f1f1f1;
          cursor: pointer; }
          main .suggest .container .swiper-container .swiper-wrapper .swiper-slide:nth-child(1) {
            margin: 0 10px 0 20px; }
          main .suggest .container .swiper-container .swiper-wrapper .swiper-slide:nth-child(15) {
            margin: 0 20px 0 10px; }
          main .suggest .container .swiper-container .swiper-wrapper .swiper-slide:hover > .icon {
            color: #09c752;
            transform: translateY(-10px);
            transition: all 0.3s ease; }
          main .suggest .container .swiper-container .swiper-wrapper .swiper-slide:hover > .place-desc {
            opacity: 1;
            transform: translateY(10px);
            transition: all 0.5s ease; }
          main .suggest .container .swiper-container .swiper-wrapper .swiper-slide:hover {
            transform: translateY(-10px);
            box-shadow: 3px 3px 10px #eeeded, 0 0 2px #f0f0f0;
            transition: all 0.3s ease; }
          main .suggest .container .swiper-container .swiper-wrapper .swiper-slide .icon::before {
            text-align: center;
            font-size: 90px;
            margin: 0; }
          main .suggest .container .swiper-container .swiper-wrapper .swiper-slide .place-desc {
            opacity: 0;
            transform: translateY(30px);
            font-size: 12px;
            color: #cecdcd;
            text-align: center; }
      main .suggest .container .swiper-container .swiper-button {
        position: absolute;
        height: 150px;
        width: 30px;
        padding: 100px 10px;
        font-size: 35px;
        color: #b3b1b1;
        cursor: pointer; }
      main .suggest .container .swiper-container .swiper-button-prev {
        left: -10px; }
      main .suggest .container .swiper-container .swiper-button-next {
        right: 0; }
      main .suggest .container .swiper-container .swiper-radio-btn {
        position: absolute;
        bottom: 0;
        right: 46%;
        display: flex;
        cursor: pointer; }
        main .suggest .container .swiper-container .swiper-radio-btn .swiper-controller {
          width: 9px;
          height: 9px;
          background-color: #dddbdb;
          border-radius: 5px; }
          main .suggest .container .swiper-container .swiper-radio-btn .swiper-controller:nth-child(2n+2) {
            margin: 0 10px; }
        main .suggest .container .swiper-container .swiper-radio-btn .selected {
          background-color: #09c752; }

main .recommendation {
  text-align: center;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  main .recommendation .active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing; }
  main .recommendation .slider-container {
    margin: 50px 0 50px; }
    main .recommendation .slider-container .drag-container {
      width: 983px;
      height: 580px;
      display: flex;
      position: relative;
      overflow: hidden; }
      main .recommendation .slider-container .drag-container .drag-wrapper {
        width: 980px;
        height: 800px;
        cursor: grab;
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
        overflow: hidden; }
        main .recommendation .slider-container .drag-container .drag-wrapper .drag-slide {
          height: 550px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 18px;
          background: #fff;
          margin: 0; }
          main .recommendation .slider-container .drag-container .drag-wrapper .drag-slide:nth-child(2n+2) {
            margin: 0 20px; }
          main .recommendation .slider-container .drag-container .drag-wrapper .drag-slide .desc {
            width: 315px;
            height: 200px;
            padding: 20px;
            text-align: left;
            box-shadow: 3px 3px 5px #f1f1f1, -1px 1px 5px #f1f1f1; }
            main .recommendation .slider-container .drag-container .drag-wrapper .drag-slide .desc h4 {
              color: #212529;
              font-size: 18px;
              font-weight: 300; }
            main .recommendation .slider-container .drag-container .drag-wrapper .drag-slide .desc p {
              padding: 20px 0 0;
              font-size: 14px;
              line-height: 1.7;
              opacity: 0.4; }
          main .recommendation .slider-container .drag-container .drag-wrapper .drag-slide .img-wrapper {
            width: 315px;
            height: 320px;
            padding: 30px 0; }
          main .recommendation .slider-container .drag-container .drag-wrapper .drag-slide:nth-child(1) .img-wrapper {
            background: url(../img/sq_img_2.jpg) center;
            background-size: cover; }
          main .recommendation .slider-container .drag-container .drag-wrapper .drag-slide:nth-child(2) .img-wrapper {
            background: url(../img/sq_img_1.jpg) center;
            background-size: cover; }
          main .recommendation .slider-container .drag-container .drag-wrapper .drag-slide:nth-child(3) .img-wrapper {
            background: url(../img/sq_img_3.jpg) center;
            background-size: cover; }
          main .recommendation .slider-container .drag-container .drag-wrapper .drag-slide:nth-child(4) .img-wrapper {
            background: url(../img/sq_img_4.jpg) center;
            background-size: cover; }
          main .recommendation .slider-container .drag-container .drag-wrapper .drag-slide:nth-child(5) .img-wrapper {
            background: url(../img/sq_img_5.jpg) center;
            background-size: cover; }
          main .recommendation .slider-container .drag-container .drag-wrapper .drag-slide:nth-child(6) .img-wrapper {
            background: url(../img/sq_img_2.jpg) center;
            background-size: cover; }
          main .recommendation .slider-container .drag-container .drag-wrapper .drag-slide:nth-child(7) .img-wrapper {
            background: url(../img/sq_img_1.jpg) center;
            background-size: cover; }
          main .recommendation .slider-container .drag-container .drag-wrapper .drag-slide:nth-child(8) .img-wrapper {
            background: url(../img/sq_img_3.jpg) center;
            background-size: cover; }
          main .recommendation .slider-container .drag-container .drag-wrapper .drag-slide:nth-child(9) .img-wrapper {
            background: url(../img/sq_img_4.jpg) center;
            background-size: cover; }
          main .recommendation .slider-container .drag-container .drag-wrapper .drag-slide:nth-child(10) .img-wrapper {
            background: url(../img/sq_img_5.jpg) center;
            background-size: cover; }
      main .recommendation .slider-container .drag-container .drag-button {
        position: absolute;
        text-align: center;
        height: 150px;
        width: 30px;
        padding: 100px 0;
        font-size: 35px;
        color: #b3b1b1;
        cursor: pointer; }
        main .recommendation .slider-container .drag-container .drag-button i {
          transform: translateY(-20px); }
      main .recommendation .slider-container .drag-container .drag-button-prev {
        left: 0;
        top: 120px; }
      main .recommendation .slider-container .drag-container .drag-button-next {
        right: 0;
        top: 120px; }
      main .recommendation .slider-container .drag-container .drag-radio-btn {
        position: absolute;
        bottom: 0;
        right: 46%;
        display: flex;
        cursor: pointer; }
        main .recommendation .slider-container .drag-container .drag-radio-btn .drag-controller {
          width: 9px;
          height: 9px;
          background-color: #dddbdb;
          border-radius: 5px; }
          main .recommendation .slider-container .drag-container .drag-radio-btn .drag-controller:nth-child(2n+2) {
            margin: 0 10px; }
        main .recommendation .slider-container .drag-container .drag-radio-btn .clicked {
          background-color: #09c752; }

main .phrase {
  text-align: center;
  padding: 100px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  main .phrase p {
    font-size: 1.15rem;
    font-weight: 300;
    line-height: 1.7;
    font-style: italic;
    width: 53.5%; }
  main .phrase .writer {
    margin: 30px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    main .phrase .writer__avatar {
      width: 65px;
      height: 65px;
      border-radius: 40px;
      background: url(../img/person_1.jpg) no-repeat center center;
      background-size: cover; }
    main .phrase .writer__name {
      margin: 10px 0 8px;
      font-size: 12px;
      letter-spacing: 1.7px;
      font-weight: bold; }
    main .phrase .writer__position {
      font-size: 13px;
      color: #bdbcbc;
      cursor: pointer; }

main .more-services {
  padding: 130px 0 118px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ececec; }
  main .more-services ul {
    width: 60%;
    margin: 30px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
    main .more-services ul li {
      margin: 13px;
      width: 460px;
      display: flex;
      flex-wrap: wrap;
      background-color: #fff; }
      main .more-services ul li .desc {
        width: 230px;
        height: 220px;
        padding: 20px; }
        main .more-services ul li .desc h4 {
          color: #212529;
          font-size: 18px;
          font-weight: 300; }
        main .more-services ul li .desc p {
          margin: 20px 0 0;
          font-size: 14px;
          line-height: 1.7;
          opacity: 0.4; }
      main .more-services ul li:nth-child(1) .img-wrapper {
        width: 230px;
        height: 220px;
        background: url(../img/img_1.jpg);
        background-size: cover; }
      main .more-services ul li:nth-child(2) .img-wrapper {
        width: 230px;
        height: 220px;
        background: url(../img/img_4.jpg);
        background-size: cover; }
      main .more-services ul li:nth-child(3) .img-wrapper {
        width: 230px;
        height: 220px;
        background: url(../img/img_2.jpg);
        background-size: cover; }
      main .more-services ul li:nth-child(4) .img-wrapper {
        width: 230px;
        height: 220px;
        background: url(../img/img_5.jpg);
        background-size: cover; }

main .news {
  padding: 130px 0 118px;
  margin: 210px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ececec; }
  main .news ul {
    width: 60%;
    margin: 30px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
    main .news ul li {
      margin: 13px;
      width: 480px;
      display: flex;
      flex-wrap: wrap;
      background-color: #fff; }
      main .news ul li .desc {
        width: 250px;
        height: 300px;
        padding: 27px; }
        main .news ul li .desc__date {
          font-size: 14px;
          opacity: 0.4;
          line-height: 1.7; }
        main .news ul li .desc h4 {
          color: #212529;
          font-size: 18px;
          font-weight: 300;
          padding: 0 10px 0 0; }
        main .news ul li .desc p {
          margin: 17px 0;
          font-size: 14px;
          line-height: 1.7;
          opacity: 0.4; }
        main .news ul li .desc .more-btn {
          font-size: 14px;
          color: #09c752;
          cursor: pointer; }
          main .news ul li .desc .more-btn:hover {
            color: #039639; }
      main .news ul li:nth-child(1) .img-wrapper {
        width: 230px;
        height: 300px;
        background: url(../img/img_1.jpg);
        background-size: cover; }
      main .news ul li:nth-child(2) .img-wrapper {
        width: 230px;
        height: 300px;
        background: url(../img/img_4.jpg);
        background-size: cover; }
      main .news ul li:nth-child(3) .img-wrapper {
        width: 230px;
        height: 300px;
        background: url(../img/img_2.jpg);
        background-size: cover; }
      main .news ul li:nth-child(4) .img-wrapper {
        width: 230px;
        height: 300px;
        background: url(../img/img_5.jpg);
        background-size: cover; }

main .show-up {
  animation: ShowUp 0.2s linear; }

body {
  width: 100%;
  height: 100%;
  font-family: work sans,Arial,sans-serif;
  font-weight: 400; }

hr {
  margin: 17px 0 20px;
  width: 46px;
  border: 1px solid #09c752; }

h2 {
  font-size: 3.2rem;
  line-height: 1.1;
  font-weight: 300; }
