$pink:#FF5274;

$white:#fff;

$gray:#5C5F6A;
$gray-border:rgba(255, 255, 255, 0.2);
$gray-font:rgba(28, 54, 83, 0.6);
$gray-bg:#F3F4F8;
$dark-gray:rgba(92, 95, 106, 1);

$orange:#F69D52;

$dark-blue:#337ab7;
$twitter-blue:#1AB4EF;
$facebook-blue:#3B5898;

$dark-bg:#495061;
$footer-bg:#3D4351;