header {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 999;
  transition: all 0.3s linear;

  .gnb {
    width: 61.5%;
    padding: 42px 0;
    border-bottom: 1px solid $gray-border;
    background: transparent;

    &__contents-logo {
      float: left;
      margin: 5px 80px 0 0;
      font-size: 24px;
      letter-spacing: 1.5px;
    }

    ul {
      float: left;
      margin: 7px 0 0;

      li {
        display: inline-block;
        padding: 0 25px 0 0;
        font-size: 13px;
        color: $white;

        &:hover{
          color: $pink;
          transition: color 0.15s ease-out;
        }
      }
    }

    &__btn {
      float: right;
      font-size: 13px;
      color: $white;
      cursor: pointer;

      div {
        display: inline-block;
        margin: 0 22px 0 0;


        &:hover{
          color: $pink;
          transition: color 0.15s ease-out;
        }
      }

      button {
        margin: 0;
        padding: 8px 40px;
        color: $white;
        font-size: 13px;
        line-height: 1.4;
        border: 2px solid $white;
        background: transparent;
        border-radius: 50px;
        font-family: inherit;
        
        &:hover {
          border: 2px solid $pink;
          color: $pink;
          transition: all 0.15s ease-out;
        }
      }

    }

    // &__contents {
    //   width: 70%;
    //   height: 100%;
    //   float: left;
    //   display: flex;
    //   align-items: center;


    //   &-logo {
    //     margin: 0 9.8% 0 0;
    //     font-size: 24px;
    //     letter-spacing: 1.5px;
    //   }
    //   ul {
    //     margin: 3px 0 0;

    //     li {
    //       display: inline-block;
    //       padding: 0 25px 0 0;
    //       font-size: 13px;
    //       color: $white;
    //     }
    //   }
    // }

  }

}

.solid-header {
  height: 100px;
  background-color: #363b46;
  transition: all 0.3s linear;
  .gnb {
    border-bottom: none;
  }
}