
main {
  .intro {
    padding: 120px 0 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('../img/hero.jpg') no-repeat center center;
    background-size: cover;
  
    &__slogan{
      margin: 150px 0 0;
      text-align: center;
      font-family: inherit;

      h1 {
        color: $white;
        font-size: 60px;
        font-weight: 500;
        line-height: 1.1;
        margin: 0 0 40px;
      }
      p {
        color: $white;
        font-size: 20px;
        font-weight: 300;
        margin: 0 0 20px;
      }
    }
  
    &__btn {
      margin: 80px 0 0;

      button {
        width: 159px;
        height: 51px;
        border-radius: 80px;
        font-size: 13px;
        font-family: inherit;
        cursor: pointer;
  
        &:nth-child(1) {
          color: $white;
          background-color: $pink;
          border:none;
          margin: 0 20px 0 0;
  
          &:hover {
            background-color:#D7405D;
            transition: background-color 0.15s ease-out;
          }
        }
  
        &:nth-child(2) {
          color: $pink;
          background-color: transparent;
          border: 2px solid $pink;
  
          &:hover {
            color: $white;
            background-color: $pink;
            transition: all 0.15s ease-out;
          }
        }
      }
    }
  
    &__arrow-btn {
      margin: 150px 0 0;
      text-align: center;
      color: $white;
    }

    .ad {
      width: 182px;
      padding: 20px 10px;
      position:absolute;
      right: 20px;
      color: #f1f1f1;
      opacity: 0.8;

      // top: 52%;
      top: 500px;
      font-size: 10px;
      background: rgba(64, 72, 90, 0.37);

      &__img-frame {
        width: 100%;
        height: 120px;
        overflow:hidden;
        background-color:rgba(173, 175, 182, 0.37);
        text-align: center;
        
        img{
          margin: 50px 0 0;
        }
      }

      p {
        line-height: 1.7;
        margin: 3px 0;
      }

      &__btn{

        span {
          color: rgb(223, 126, 142);
          cursor: pointer;

          &:nth-child(2) {
            float: right;
            color: rgb(194, 48, 73);
            font-weight: bold;
          }
        }
      }
    }
  }

  .summary {
    padding: 140px 16%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__card {
      width: 100%;
      margin: 0 30px;

       .icon {
        width: 10%;
        margin: 0 20px 30px 0;
        display: inline-block;
        vertical-align: top;
        font-size: 38px;
        color: $pink;

      }
      .card__contents {
        width: 79%;
        display: inline-block;
        vertical-align: top;

        h4 {
          font-size: 15px;
          color: #3D4351;
          margin: 0 0 10px;
          font-weight: bold;
          opacity: 0.8;
        }

        p {
          font-size: 15px;
          line-height: 29px;
          color: rgba(28, 54, 83, 0.6);
          padding: 0 0 20px;
        }
      }
    }
  }

  .features {
    height: 780px;
    padding: 150px 30px 0;
    background-color: $gray-bg;
    overflow: hidden;

    display: flex;

    &__img-frame{
      height: 100%;
      margin: 0 18% 0 0;
      position: relative;

      img{

        &:nth-child(2) {
          position: absolute;
          right: -120px;
          top: 40%;
         
        }
      }
    }

    &__contents {
      width: 25%;
      margin: 0 0 100px;
      transform: translateY(-20px);

      p{
        font-size: 15px;
        line-height: 29px;
        color: rgba(28, 54, 83, 0.6);
      }
      .contents__phrases{
        h2 {
          font-size: 25px;
          margin: 0 0 20px;
          color: #3D4351;
          line-height: 1.1;
        }

   
      }

      ul {

        .feature-list {
          width: 400px;
          height: 150px;
          // padding: 20px 50px 20px 0;
          border-bottom: 1px solid $ligth-border;
          display: flex;
          align-items: center;

          .icon {
            margin: 0 23px 50px 0;
            font-size: 38px;
            color: $pink;
            
          }

          &:nth-child(2) {
            .icon {
              margin: 0 23px 70px 0;
            }
          }
          &__contents {
            h4{
              font-size: 15px;
              color: #3D4351;
              margin: 0 0 10px;
              font-weight: bold;
              opacity: 0.8;
            }
          }
        }
      }
    }
  }

  .assets {
    height: 540px;
    margin: 120px 20px;
    text-align: center;
   
    &__img-frame {
      width: 50%;
      height: 100%;
      overflow: hidden;
      // display: inline-block;
      float: right;
      font-size: 0;

    }

    &__contents{
      width: 25%;
      display: inline-block;
      vertical-align: top;
      text-align: left;
      transform: translateX(20px);

      h2 {
        font-size: 25px;
        margin:0 0 20px;
        color: #3D4351;
        line-height: 1.1;
      }
      p {
        font-size: 15px;
        line-height: 29px;
        color: rgba(28, 54, 83, 0.6);
        padding: 0 0 20px;

        &:nth-child(2) {
          margin: 30px 0 0;
        }
      }
      button {
        padding: 10px 40px;
        margin: 50px 0;
        border: 2px solid $pink;
        border-radius: 20px;
        color: $pink;
        background-color: transparent;
        font-family: inherit;
        font-size: 12px;
        font-weight: bold;
        cursor: pointer;

        &:hover {
          background-color: $pink;
          color: $white;
          transition: all 0.2s linear;
        }
      }
    }
  }

  .download {
    margin: 100px 0;
    position: relative;

    .contents-wrapper {
      width: 100%;
      padding: 130px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background:url(../img/polygonal-bg.jpg) no-repeat center center;
      background-size: cover;


      .download__title {
        color: #fff;
        margin: 0 0 20px 0;
        font-size: 40px;
        font-weight: 300;
        position: relative;
  
        h3{
          display: inline;
          
          &:nth-child(1){
            margin: 0 12px 0 0;
            &:after {
            content:'3';
            font-size: 22px;
            position: absolute;
            top:0;
            color: $orange;
            font-weight: bold;
            }
          }
        }
      }
    }
    
    p {
      font-size: 15px;
      line-height: 29px;
      color:#ACB1B4;

    }

    button {
      padding: 15px 40px;
      margin: 50px 0;
      border: 2px solid $pink;
      border-radius: 40px;
      color: $pink;
      background-color: transparent;
      font-family: inherit;
      font-size: 12px;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        background-color: $pink;
        color: $white;
        transition: all 0.2s linear;
      }
    }

    &__img-frame {
      width: 240px;
      height: 215px;
      margin: 20px 0 0;
      background:url(../img/sketch-logo.png) no-repeat center center;
      background-size: cover;
      position: absolute;
      bottom: -80px;
      left:45%;



    }
  }

  .blog {
    // width: 100%;
    margin: 200px 0 150px;
    text-align: center;
    // display: flex;
    // flex-direction: column;
    // align-items: center;

    .blog-desc {

      .section-title {
        margin: 0 0 80px 11%; 
        h2 {
          width: 50%;
          font-size: 25px;
          margin: 0 0 0 20px;
          color: #3D4351;
          line-height: 1.1;
        }
      }
      .section-content {
        display: flex;
        align-items: center;
        text-align: left;

        .desc{
          padding: 0 21.3% 0 75px;

          h4 {
            font-size: 15px;
            color: #3D4351;
            margin: 0 0 10px;
            font-weight: bold;
            opacity: 0.8;
          }
    
          p {
            font-size: 15px;
            line-height: 29px;
            color: rgba(28, 54, 83, 0.6);
            padding: 0 0 20px;
          }

          &:nth-child(1){
            border-right: 1px solid $ligth-border;
            padding: 0 75px 0 21.3%;

          }
        }
      }
    }

    ul {
      width: 100%;
      margin: 100px 0 70px;
      text-align: center;

      li {
        display: inline-block;
        .blog__img-frame{
          min-width: 600px;
          min-height: 330px;
          margin: 15px;
          cursor: pointer;

          i{
            visibility: hidden;
            color: $white;
            float: right;
            margin: 20px 30px;
          }
          &:hover  i {
            visibility: visible;
          }
      
        }

        &:nth-child(1) {
          .blog__img-frame {
            background:url(../img/blog-img-01.jpg) no-repeat center center;
            background-size: cover;

            &:hover {
              opacity: 0.6;
              background-size: 130%;
              transition: all 0.3s linear;
            }
          }
        }

        &:nth-child(2) {
          .blog__img-frame {
            background:url(../img/blog-img-02.jpg) no-repeat center center;
            background-size: cover;
          
            &:hover {
              opacity: 0.6;
              background-size: 130%;
              transition: all 0.3s linear;
            }
          }
        }

        &:nth-child(3) {
          .blog__img-frame {
            background:url(../img/blog-img-03.jpg) no-repeat center center;
            background-size: cover;

            &:hover {
              opacity: 0.6;
              background-size: 130%;
              transition: all 0.3s linear;
            }
          }
        }
        
        .category {
          margin: 40px 0 15px;
          position: relative;
          color: #FF5274;
          font-size: 11px;
          font-weight: bold;
          cursor: default;
          
          .tooltip {
            visibility: hidden;
            width: 100px;
            padding: 5px 0;
            position: absolute;
            top: -30px;
            right: 42%;
            background-color: rgb(32, 32, 32);
            color: #fff;
            text-align: center;
            border-radius: 6px;

            i {
              font-size: 12px;
              position: absolute;
              top: 18px;
              right: 50%;
              color: rgb(32, 32, 32);
            }
          }

          &:hover .tooltip {
            visibility: visible;
          }
        }
        .blog-title {
          color: #3D4351;
          opacity: 0.6;
          cursor: pointer;

          i {
            margin:  0 0 0 6px;
          }

        }
      }
    }

    button {
      margin: 0 20px 0 0;
      padding: 9px 43px;
      border-radius: 80px;
      font-size: 13px;
      font-family: inherit;
      cursor: pointer;
      color: $pink;
      background-color: transparent;
      border: 2px solid $pink;

      &:hover {
        background-color:$pink;
        color: $white;
        transition: all 0.15s ease-out;
      }
    }
  }

  .slider {
    height: 520px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/testimonials-bg.jpg) no-repeat center center;
    background-size: cover;
    position: relative;

    .slider__btn-right {
      position: absolute;
      right: 20%;
      font-size: 30px;
      color: $white;
      cursor: pointer;
      visibility: hidden;

      &:hover {
        visibility: visible;
      }

      &:hover ~ .slider__btn-left {
        visibility: visible;
      }

    }

    .slider__btn-left {
      position: absolute;
      left: 20%;
      font-size: 30px;
      color: $white;
      cursor: pointer;
      visibility: hidden;

      &:hover {
        visibility: visible;
      }

      &:hover ~ .slider__btn-right {
        visibility: visible;
      }

    }



    .slide-control {
      padding: 20px 30px;
      position: absolute;
      right: 47%;
      bottom: 30px;

      &__btn {
        width: 12px;
        height: 12px;
        display: inline-block;
        background-color: rgb(74, 78, 92);
        border-radius: 10px;
        margin: 3px;
        cursor: pointer;
       

        &:hover {
          background-color: $white;
        }
      }

      .selected {
        border: 2px solid $white;
        background-color: $footer-bg;
      }
    }

    .slider__slides{
      width: 70%;
      height: 500px;
      text-align: center;
      padding: 20px 100px;
      margin: 150px 0 0 0;
      overflow: hidden;
      cursor: pointer;

      &:hover ~ .slider__btn-left {
        visibility: visible;
      }

      &:hover ~ .slider__btn-right {
        visibility: visible;
      }

      .slides {
        display: none;
      }
      .show { 
        padding: 0 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .avatar {
          width: 80px;
          height: 80px;
          border: 4px solid $white;
          overflow: hidden;
          border-radius: 50px;
        }

        h3{
          font-size: 40px;
          color: $white;
          margin: 30px 0;
        }

        p {
          color: #ACB1B4;
          letter-spacing: 2px;
        }
 

        &:nth-child(1){
          .avatar {
            background: url(../img/avatar.jpg) no-repeat center center;
            background-size: cover;
          }
        }
        &:nth-child(2){
          .avatar {
            background: url(../img/mani.jpg) no-repeat center center;
            background-size: cover;
          }
        }
        &:nth-child(3){
          .avatar {
            background: url(../img/130.jpg) no-repeat center center;
            background-size: cover;
          }
        }
      }
    }
  }

  .sign-up {
    margin: 150px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h2{
      margin: 0 0 20px;
      font-size: 25px;
      color: #3D4351;
      line-height: 1.1;
    }

    p{
      font-size: 15px;
      line-height: 29px;
      color: rgba(28, 54, 83, 0.6);
      padding: 0 0 20px;

    }

    // IE에서는 아이콘이 예쁘게 위치하는데  크롬에서는 깨짐..
    .form {
      width: 420px;
      height: 50px;
      border:1px solid #f1f1f1;
      margin: 0 0 9px;
      border-radius: 3px;
      display: flex;
      justify-content: flex-start;


      .form-icon{
        padding: 0 20px;
        margin: 15px 0;
        border-right: 1px solid #f1f1f1;
        font-size: 12px;
        color: $pink;

      }
      input {
        width: 100%;
        border:none;
        outline: none;
        padding: 0 20px;

        &:-ms-input-placeholder {
          color: #c9c9c9 !important;
        }

        &::-ms-clear {
          display: none;
        }

        &::placeholder {
          color: #c9c9c9;
        }

      }
      
 
    }
    button {
      width: 420px;
      height: 50px;
      padding: 15px 40px;
      color: $white;
      background-color: $pink;
      border: 1px solid $pink;
      border-radius: 3px;
      cursor: pointer;

      &:hover {
        background-color: #D7405D;
      }
    }
  }
  
}

