@import url(//db.onlinewebfonts.com/c/ee5d74f0b75c5754c723eb16d34e3d65?family=et-line);
@font-face {
  font-family: "et-line";
  src: url("//db.onlinewebfonts.com/t/ee5d74f0b75c5754c723eb16d34e3d65.eot");
  src: url("//db.onlinewebfonts.com/t/ee5d74f0b75c5754c723eb16d34e3d65.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/ee5d74f0b75c5754c723eb16d34e3d65.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/ee5d74f0b75c5754c723eb16d34e3d65.woff") format("woff"), 
  url("//db.onlinewebfonts.com/t/ee5d74f0b75c5754c723eb16d34e3d65.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/ee5d74f0b75c5754c723eb16d34e3d65.svg#et-line") format("svg");
}

// common
@import './common/reset';
@import './common/colors';



// pages


body {
  width: 100%;
  height: 100%;
}