
@keyframes fadeIn{
from{ 
    opacity:0;
    transform:translateY(30px);
   }to { 
    opacity:1;
    transform:translateY(0);
  }
}

@-webkit-keyframes fadeIn{
  from{ 
    opacity:0;
    transform:translateY(30px);
   }to { 
    opacity:1;
    transform:translateY(0);
  }
}

main {

  .intro{
    width: 100%;
    height: 100%;
    background: url(../img/bg_1.jpg) no-repeat center center;
    background-size: cover;
  
    .intro-overlay {
      width: 100%;
      padding: 152px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0,0,0,.5);

      .intro-content{
        width:25%;
        padding: 105px 0;
        margin: 0 30px 0 0;
        color: $white;
        font-weight: 300;
        animation: fadeIn 1s ease forwards;

        h1 {
          font-size: 3.2rem;
          line-height: 1.1;
          opacity: 0.9;


        }
        p {
          margin: 10px 0 0;
          font-size: 18px;
          color: rgb(206, 205, 205);
          line-height: 1.7;
          animation: fadeIn 0.7s ease forwards;


          a {
            color:$light-green;
            opacity: 1;

          }
        }

        button {
          margin: 30px 0 0;
          background-color: $button-green;
          color: white;
          border:none;
          padding: 15px 50px;
          border-radius: 3px;
          font-size: 12px;
          letter-spacing: 1.5px;
          animation: fadeIn 0.9s ease forwards;
        }
      }

      .travel-form {
        width:25.7%;
        height: 320px;
        padding: 27px 20px;
        margin: 0 0 40px;
        background-color: $white;
        display: flex;
        opacity: 0;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        color: #979696;
        animation: 1s ease 0.2s normal forwards 1 fadeIn;

  
        label{
          font-size: 12px;
          margin: 0 0 10px;
          font-weight: 300;
        }

        input,select {
          padding: 9px 20px;
          text-align: center;
          border: 1px solid #d1d1d1;
        }

        .location {
          position: relative;
          .show{
            display: block;
          }
          &-input {

            width: 100%;
            height: 42px;
            padding: 0 8px;
            border: 1px solid #d1d1d1;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 14px;
            border-radius: 4px;
            cursor: pointer;

            i{
              font-size: 11px;
            }
          }
          .line-drp-popup {
            position:absolute;
            display: none;
            width: 100%;
            top: 65px;
            text-align: left;
            border: 1px solid #d1d1d1;
            border-top:none;
            z-index: 11;

            .line-drp-bg {
              background: #fff;
            }
            .line-drp-input {
              margin: 5px;
              border: 1px solid #d1d1d1;
  
              input {
                height: 30px;
                width: 100%;
                border: none;
                outline: none;
                text-align: left;
              }
            }
            
            .line-list {
              max-height: 180px;
              overflow-y: auto;
              overflow-x: hidden;
              border: 1px solid #eeeeee;
              li {
                font-size: 12px;
                color: #444a59;
                height: 30px;
                line-height: 30px;
                width: 100%;
                display: block;
                font-weight: bold;
                padding: 0 12px;
                border-bottom: 1px solid #eeeeee;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                cursor: pointer;
  
                &:hover {
                  background: $list-green;
                  color: #fff;
    
                }
                &:first-child {
                  background-color: #e2e1e1;
                  &:hover {
                    color: #444a59;
                  }
                }
                &:last-child {
                  border: none;
                }
              }
            }
          }

          
          
        }
        
        .travel-date{
          margin: 0 0 20px;

          input {
            border-radius: 3px;
            outline: none;
            height: 42px;
            &::-webkit-datetime-edit-text { 
              -webkit-appearance: none;
              display: none;
            }
            &::-webkit-datetime-edit-month-field { 
              -webkit-appearance: none;
              display: none;
            } 
            &::-webkit-datetime-edit-day-field { 
              -webkit-appearance: none;
              display: none;
            }
            &::-webkit-datetime-edit-year-field { 
              -webkit-appearance: none;
              display: none;
            }
            &:hover {
              cursor: text;
              border: 1px solid $light-green;
              box-shadow: 0 0 5px #e0e0e0, 0 0 3px #e0e0e0;
              transition: all 0.3s ease;

            }
            &:focus {
              border: 1px solid $light-green;
              box-shadow: 0 0 5px #e0e0e0, 0 0 3px #e0e0e0;

            }

          }

        }
        .form-content {
          width:200px;
          display: flex;
          flex-direction: column;
        }

        .travel-type {
          flex-direction: row;
          font-size: 12px;

         .type-oneway {
          margin: 0 0 20px 50px ;
          }

          input {
            width: 11px;
            height: 11px;
            margin: 0;
          }
        }



        button {
          width:190px;
          padding: 15px 20px;
          text-align: center;
          font-size: 12px;
          letter-spacing: 1.8px;
          background-color: $button-green;
          color: $white;
          border:none;
          border-radius: 4px;

          &:hover {
            background-color: $green;
            transition: all 0.2s linear;
          }
        }
      }
    }
  }

  .top-places { 
    padding: 100px 0 0;
    margin: 220px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: nowrap;
    border-top :1px solid #d1d1d1;

    ul {
      margin: 45px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
   
      &:hover > li {
        opacity: 0.5;
      }

      li {
        margin: 0 28px 0 0;
        position: relative;

        &:nth-child(4) {
          margin: 0;
        }

        .place {
          width: 230px;
          height: 340px;
          cursor: pointer;

          &:hover {
            transform: scale( 1.1 ) translateY(-17px);
            box-shadow: 5px 4px 10px rgb(216, 216, 216);
            transition: all 0.2s linear;
          }
          &:hover + .place-name {
            visibility: visible;
            bottom: -40px;
            transition: all 0.2s linear;
          }
        }

        .buena {
          background:url(../img/img_1.jpg) no-repeat center center;
          background-size: cover;
        }
        .road {
          background:url(../img/img_2.jpg) no-repeat center center;
          background-size: cover;
        }
        .australia {
          background:url(../img/img_3.jpg) no-repeat center center;
          background-size: cover;
        }
        .japan {
          background:url(../img/img_4.jpg) no-repeat center center;
          background-size: cover;
        }

        .place-name {
          visibility: hidden;
          font-size: 25px;
          font-weight: 300;
          position: absolute;
          bottom: 0;
          left: 80px;
          z-index: -1;
  
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .services {
    margin: 200px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    ul {
      width: 100%;
      margin: 180px 0 108px;
      display: flex;
      flex-wrap: wrap;

      li{
        width: 50%;
        padding: 100px;
        background-color: #ececec;

        &:nth-child(1) {
          background:url(../img/img_2.jpg) no-repeat center center;
          background-size: cover;
        }

        &:nth-child(4) {
          background:url(../img/img_3.jpg) no-repeat center center;
          background-size: cover;
        }

        h3{
          color:#212529;
          font-size: 30px;
          font-weight: 300;
        }

        p {
          margin: 22px 0 0;
          font-size: 13px;
          line-height: 1.7;
          opacity: 0.4;
        }
        button {
          margin: 15px 0 0;
          padding: 15px 23px;
          background-color: $light-green;
          color: $white;
          border: none;
          border-radius: 5px;
          font-size: 12px;
          letter-spacing: 2.5px;
          cursor: pointer;


          &:hover{
            background-color: $green;
          }
        }
      }
    }
  }

  .suggest {
    text-align: center;
    padding: 0 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .container{
      margin: 60px 0 50px;

      .swiper-container {
        width: 1024px;
        height: 100%;
        padding: 20px 0 20px 45px;
        display: flex;
        position: relative;
        overflow: hidden;

        .swiper-wrapper {
          width: 4800px;
          height: 250px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-wrap: nowrap;
          transform: translateX(-20px);

          .swiper-slide {
            height: 150px;
            width: 300px;
            padding: 100px 0;
            margin: 0 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            background: #fff;
            border: 1px solid #f1f1f1;
            cursor: pointer;
            
            &:nth-child(1) {
              margin: 0 10px 0 20px;
            }
            &:nth-child(15) {
              margin: 0 20px 0 10px;
            }

            &:hover > .icon {
              color: $light-green;
              transform: translateY(-10px);

              transition: all 0.3s ease;

            }

            &:hover >  .place-desc {
              // display: block;
              opacity: 1;
              transform: translateY(10px);

              transition: all 0.5s ease;

            }

            &:hover {
              transform:translateY(-10px);
              box-shadow: 3px 3px 10px rgb(238, 237, 237), 0 0 2px rgb(240, 240, 240);
              transition: all 0.3s ease;
            }

            .icon {

              &::before {
                text-align: center;
                font-size: 90px;
                margin: 0;
              }
            }

            .place-desc {
              // display: none;
              opacity: 0;

              transform: translateY(30px);
              font-size: 12px;
              color: rgb(206, 205, 205);
              text-align: center;
            }
            
          }

        }

        .swiper-button {
          position:absolute;
          height: 150px;
          width: 30px;
          padding: 100px 10px;
          font-size: 35px;
          color:rgb(179, 177, 177);
          cursor: pointer;
        }

        .swiper-button-prev {
          left: -10px;

        }

        .swiper-button-next {
          right: 0;
        }

        .swiper-radio-btn {
          position:absolute;
          bottom: 0;
          right: 46%;
          display: flex;
          cursor: pointer;


          .swiper-controller {
            width: 9px;
            height: 9px;
            background-color: rgb(221, 219, 219);
            border-radius: 5px;
            
            &:nth-child(2n+2) {
              margin: 0 10px;
            }
          }

          .selected {
            background-color: $light-green;
          }
        }
      }
    }
    
 
  }

  .recommendation {
    text-align: center;
    padding: 100px 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .active {
      cursor: -webkit-grabbing;
      cursor: -moz-grabbing;
      cursor: grabbing;


    }
    .slider-container{
      margin: 50px 0 50px;

      .drag-container {
        width: 983px;
        height: 580px;
        display: flex;
        position: relative;
        overflow: hidden;



        .drag-wrapper {
          width: 980px;
          height: 800px;
          cursor: grab;
          display: flex;
          justify-content: flex-start;
          flex-wrap: nowrap;
          overflow: hidden;

          .drag-slide {
            height: 550px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            background: #fff;
            margin: 0;

            &:nth-child(2n+2) {
              margin: 0 20px;
            }

            .desc {
              width: 315px;
              height: 200px;
              padding: 20px;
              text-align: left;
              box-shadow: 3px 3px 5px #f1f1f1, -1px 1px 5px #f1f1f1;
    
              h4{
                color:#212529;
                font-size: 18px;
                font-weight: 300;
    
              }
    
              p{
                padding: 20px 0 0;
                font-size: 14px;
                line-height: 1.7;
                opacity: 0.4;
              }
            }

            .img-wrapper {
              width: 315px;
              height: 320px;
              padding: 30px 0;
            }

            &:nth-child(1) {
              .img-wrapper {
                background: url(../img/sq_img_2.jpg) center  ;
                background-size: cover;
              }
            }

            &:nth-child(2) {
              .img-wrapper {
                background: url(../img/sq_img_1.jpg) center ;
                background-size: cover;
              }
            }

            &:nth-child(3) {
              .img-wrapper {
                background: url(../img/sq_img_3.jpg) center ;
                background-size: cover;
              }
            }

            &:nth-child(4) {
              .img-wrapper {
                background: url(../img/sq_img_4.jpg) center ;
                background-size: cover;
              }
            }

            &:nth-child(5) {
              .img-wrapper {
                background: url(../img/sq_img_5.jpg) center ;
                background-size: cover;
              }
            }

            &:nth-child(6) {
              .img-wrapper {
                background: url(../img/sq_img_2.jpg) center ;
                background-size: cover;
              }
            }

            &:nth-child(7) {
              .img-wrapper {
                background: url(../img/sq_img_1.jpg) center ;
                background-size: cover;
              }
            }

            &:nth-child(8) {
              .img-wrapper {
                background: url(../img/sq_img_3.jpg) center ;
                background-size: cover;
              }
            }

            &:nth-child(9) {
              .img-wrapper {
                background: url(../img/sq_img_4.jpg) center ;
                background-size: cover;
              }
            }

            &:nth-child(10) {
              .img-wrapper {
                background: url(../img/sq_img_5.jpg) center ;
                background-size: cover;
              }
            }
          }

        }

        .drag-button {
          position:absolute;
          text-align: center;
          height: 150px;
          width: 30px;
          padding: 100px 0;
          font-size: 35px;
          color:rgb(179, 177, 177);
          cursor: pointer;

          i{
            transform:translateY(-20px);
          }

        }

        .drag-button-prev {
          left: 0;
          top: 120px;

        }

        .drag-button-next {
          right: 0;
          top: 120px;

        }

        .drag-radio-btn {
          position:absolute;
          bottom: 0;
          right: 46%;
          display: flex;
          cursor: pointer;


          .drag-controller {
            width: 9px;
            height: 9px;
            background-color: rgb(221, 219, 219);
            border-radius: 5px;
            
            &:nth-child(2n+2) {
              margin: 0 10px;
            }
          }

          .clicked {
            background-color: $light-green;
          }
        }
      }
    }
    
  }
  .testimonial {
    text-align: center;
    padding: 100px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p{
      font-size: 1.15rem;
      font-weight: 300;
      line-height: 1.7;
      font-style: italic;
      width: 53.5%;
    }

    .writer {
      margin: 30px 0 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &__avatar {
        width: 65px;
        height: 65px;
        border-radius: 40px;
        background: url(../img/person_1.jpg) no-repeat center center;
        background-size: cover;
      }

      &__name {
        margin: 10px 0 8px;

        font-size: 12px;
        letter-spacing: 1.7px;
        font-weight: bold;
      }

      &__position {
        font-size: 13px;
        color: #bdbcbc;
        cursor: pointer;
      }
    }
  }
  .phrase {
    text-align: center;
    padding: 100px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: fadeIn 1s ease 0.3s forwards;

    p{
      font-size: 1.15rem;
      font-weight: 300;
      line-height: 1.7;
      font-style: italic;
      width: 53.5%;
    }

    .writer {
      margin: 30px 0 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &__avatar {
        width: 65px;
        height: 65px;
        border-radius: 40px;
        background: url(../img/person_1.jpg) no-repeat center center;
        background-size: cover;
      }

      &__name {
        margin: 10px 0 8px;

        font-size: 12px;
        letter-spacing: 1.7px;
        font-weight: bold;
      }

      &__position {
        font-size: 13px;
        color: #bdbcbc;
        cursor: pointer;
      }
    }
  }

  .more-services{
    padding: 130px 0 118px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ececec;

    ul{    
      width: 60%;
      margin: 30px 0 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      li {
        margin: 13px;
        width: 460px;
        display: flex;
        flex-wrap: wrap;
        background-color:$white;

        .desc {
          width: 230px;
          height: 220px;
          padding: 20px;

          h4{
            color:#212529;
            font-size: 18px;
            font-weight: 300;

          }

          p{
            margin: 20px 0 0;
            font-size: 14px;
            line-height: 1.7;
            opacity: 0.4;
          }
        }

        &:nth-child(1) {
          .img-wrapper {
            width: 230px;
            height: 220px;
            background: url(../img/img_1.jpg) ;
            background-size: cover;
          }
        }

        &:nth-child(2) {
          .img-wrapper {
            width: 230px;
            height: 220px;
            background: url(../img/img_4.jpg) ;
            background-size: cover;
          }
        }

        &:nth-child(3) {
          .img-wrapper {
            width: 230px;
            height: 220px;
            background: url(../img/img_2.jpg) ;
            background-size: cover;
          }
        }

        &:nth-child(4) {
          .img-wrapper {
            width: 230px;
            height: 220px;
            background: url(../img/img_5.jpg) ;
            background-size: cover;
          }
        }
      }
    }
  }

  .news {
    padding: 130px 0 118px;
    margin: 210px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ececec;

    ul{    
      width: 60%;
      margin: 30px 0 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      li {
        margin: 13px;
        width: 480px;
        display: flex;
        flex-wrap: wrap;
        background-color:$white;

        .desc {
          width: 250px;
          height: 300px;
          padding: 27px;

          &__date {
            font-size: 14px;
            opacity: 0.4;
            line-height: 1.7;
          }
          h4{
            color:#212529;
            font-size: 18px;
            font-weight: 300;
            padding: 0 10px 0 0;
          }

          p{
            margin: 17px 0;
            font-size: 14px;
            line-height: 1.7;
            opacity: 0.4;
          }

          .more-btn {
            font-size: 14px;
            color: $light-green;
            cursor: pointer;

            &:hover {
              color: $green;
            }
          }
        }

        &:nth-child(1) {
          .img-wrapper {
            width: 230px;
            height: 300px;
            background: url(../img/img_1.jpg) ;
            background-size: cover;
          }
        }

        &:nth-child(2) {
          .img-wrapper {
            width: 230px;
            height: 300px;
            background: url(../img/img_4.jpg) ;
            background-size: cover;
          }
        }

        &:nth-child(3) {
          .img-wrapper {
            width: 230px;
            height: 300px;
            background: url(../img/img_2.jpg) ;
            background-size: cover;
          }
        }

        &:nth-child(4) {
          .img-wrapper {
            width: 230px;
            height: 300px;
            background: url(../img/img_5.jpg) ;
            background-size: cover;
          }
        }
      }
    }
  }

  .show-up {
    animation:fadeIn 0.2s linear;
  }
}