
@keyframes fadeIn{
from{ 
    opacity:0;
    transform:translateY(30px);
   }to { 
    opacity:1;
    transform:translateY(0);
  }
}

@-webkit-keyframes fadeIn{
  from{ 
    opacity:0;
    transform:translateY(30px);
   }to { 
    opacity:1;
    transform:translateY(0);
  }
}

main {

  .intro{
    width: 100%;
    height: 100%;
    background: url(../img/bg_1.jpg) no-repeat center center;
    background-size: cover;
  
    .intro-overlay {
      width: 100%;
      padding: 152px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0,0,0,.5);

      .intro-content{
        width:25%;
        padding: 105px 0;
        margin: 0 30px 0 0;
        color: $white;
        font-weight: 300;
        animation: fadeIn 1s ease forwards;

        h1 {
          font-size: 3.2rem;
          line-height: 1.1;
          opacity: 0.9;


        }
        p {
          margin: 10px 0 0;
          font-size: 18px;
          color: rgb(206, 205, 205);
          line-height: 1.7;
          animation: fadeIn 0.7s ease forwards;


          a {
            color:$light-green;
            opacity: 1;

          }
        }

        button {
          margin: 30px 0 0;
          background-color: $button-green;
          color: white;
          border:none;
          padding: 15px 50px;
          border-radius: 3px;
          font-size: 12px;
          letter-spacing: 1.5px;
          animation: fadeIn 0.9s ease forwards;
        }
      }

      .travel-form {
        width:25.7%;
        height: 320px;
        padding: 27px 20px;
        margin: 0 0 40px;
        background-color: $white;
        display: flex;
        opacity: 0;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        color: #979696;
        animation: 1s ease 0.2s normal forwards 1 fadeIn;

  
        label{
          font-size: 12px;
          margin: 0 0 10px;
          font-weight: 300;
        }

        input,select {
          padding: 9px 20px;
          text-align: center;
          border: 1px solid #d1d1d1;
        }

        .location {
          position: relative;
          .show{
            display: block;
          }
          &-input {

            width: 100%;
            height: 42px;
            padding: 0 8px;
            border: 1px solid #d1d1d1;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 14px;
            border-radius: 4px;
            cursor: pointer;

            i{
              font-size: 11px;
            }
          }
          .line-drp-popup {
            position:absolute;
            display: none;
            width: 100%;
            top: 65px;
            text-align: left;
            border: 1px solid #d1d1d1;
            border-top:none;
            z-index: 11;

            .line-drp-bg {
              background: #fff;
            }
            .line-drp-input {
              margin: 5px;
              border: 1px solid #d1d1d1;
  
              input {
                height: 30px;
                width: 100%;
                border: none;
                outline: none;
                text-align: left;
              }
            }
            
            .line-list {
              max-height: 180px;
              overflow-y: auto;
              overflow-x: hidden;
              border: 1px solid #eeeeee;
              li {
                font-size: 12px;
                color: #444a59;
                height: 30px;
                line-height: 30px;
                width: 100%;
                display: block;
                font-weight: bold;
                padding: 0 12px;
                border-bottom: 1px solid #eeeeee;
                overflow: hidden;
                white-space: nowrap;
                cursor: pointer;
  
                &:hover {
                  background: $list-green;
                  color: #fff;
    
                }
                &:first-child {
                  background-color: #e2e1e1;
                  &:hover {
                    color: #444a59;
                  }
                }
                &:last-child {
                  border: none;
                }
              }
            }
          }

          
          
        }
        
        .travel-date{
          margin: 0 0 20px;

          input {
            border-radius: 3px;
            outline: none;
            height: 42px;
            &::-webkit-datetime-edit-text { 
              -webkit-appearance: none;
              display: none;
            }
            &::-webkit-datetime-edit-month-field { 
              -webkit-appearance: none;
              display: none;
            } 
            &::-webkit-datetime-edit-day-field { 
              -webkit-appearance: none;
              display: none;
            }
            &::-webkit-datetime-edit-year-field { 
              -webkit-appearance: none;
              display: none;
            }
            &:hover {
              cursor: text;
              border: 1px solid $light-green;
              box-shadow: 0 0 5px #e0e0e0, 0 0 3px #e0e0e0;
              transition: all 0.3s ease;

            }
            &:focus {
              border: 1px solid $light-green;
              box-shadow: 0 0 5px #e0e0e0, 0 0 3px #e0e0e0;

            }

          }

        }
        .form-content {
          width:200px;
          display: flex;
          flex-direction: column;
        }

        .travel-type {
          flex-direction: row;
          font-size: 12px;

         .type-oneway {
          margin: 0 0 20px 50px ;
          }

          input {
            width: 11px;
            height: 11px;
            margin: 0;
          }
        }

        button {
          width:190px;
          padding: 15px 20px;
          text-align: center;
          font-size: 12px;
          letter-spacing: 1.8px;
          background-color: $button-green;
          color: $white;
          border:none;
          border-radius: 4px;

          &:hover {
            background-color: $green;
            transition: all 0.2s linear;
          }
        }
      }
    }
  }

  

  
  .testimonial {
    text-align: center;
    padding: 100px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p{
      font-size: 1.15rem;
      font-weight: 300;
      line-height: 1.7;
      font-style: italic;
      width: 53.5%;
    }

    .writer {
      margin: 30px 0 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &__avatar {
        width: 65px;
        height: 65px;
        border-radius: 40px;
        background: url(../img/person_1.jpg) no-repeat center center;
        background-size: cover;
      }

      &__name {
        margin: 10px 0 8px;

        font-size: 12px;
        letter-spacing: 1.7px;
        font-weight: bold;
      }

      &__position {
        font-size: 13px;
        color: #bdbcbc;
        cursor: pointer;
      }
    }
  }

  .phrase {
    text-align: center;
    padding: 100px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: fadeIn 1s ease 0.3s forwards;

    p{
      font-size: 1.15rem;
      font-weight: 300;
      line-height: 1.7;
      font-style: italic;
      width: 53.5%;
    }

    .writer {
      margin: 30px 0 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &__avatar {
        width: 65px;
        height: 65px;
        border-radius: 40px;
        background: url(../img/person_1.jpg) no-repeat center center;
        background-size: cover;
      }

      &__name {
        margin: 10px 0 8px;

        font-size: 12px;
        letter-spacing: 1.7px;
        font-weight: bold;
      }

      &__position {
        font-size: 13px;
        color: #bdbcbc;
        cursor: pointer;
      }
    }
  }
}