.recommendation {
  text-align: center;
  padding: 100px 0 ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;


  }
  .slider-container{
    margin: 50px 0 50px;

    .drag-container {
      width: 983px;
      height: 580px;
      display: flex;
      position: relative;
      overflow: hidden;

      .drag-wrapper {
        width: 980px;
        height: 800px;
        cursor: grab;
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
        overflow: hidden;

        .drag-slide {
          height: 550px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 18px;
          background: #fff;
          margin: 0;

          &:nth-child(2n+2) {
            margin: 0 20px;
          }

          .desc {
            width: 315px;
            height: 200px;
            padding: 20px;
            text-align: left;
            box-shadow: 3px 3px 5px #f1f1f1, -1px 1px 5px #f1f1f1;
  
            h4{
              color:#212529;
              font-size: 18px;
              font-weight: 300;
  
            }
  
            p{
              padding: 20px 0 0;
              font-size: 14px;
              line-height: 1.7;
              opacity: 0.4;
            }
          }

          .img-wrapper {
            width: 315px;
            height: 320px;
            padding: 30px 0;
          }

          &:nth-child(1) {
            .img-wrapper {
              background: url(../img/sq_img_2.jpg) center  ;
              background-size: cover;
            }
          }

          &:nth-child(2) {
            .img-wrapper {
              background: url(../img/sq_img_1.jpg) center ;
              background-size: cover;
            }
          }

          &:nth-child(3) {
            .img-wrapper {
              background: url(../img/sq_img_3.jpg) center ;
              background-size: cover;
            }
          }

          &:nth-child(4) {
            .img-wrapper {
              background: url(../img/sq_img_4.jpg) center ;
              background-size: cover;
            }
          }

          &:nth-child(5) {
            .img-wrapper {
              background: url(../img/sq_img_5.jpg) center ;
              background-size: cover;
            }
          }

          &:nth-child(6) {
            .img-wrapper {
              background: url(../img/sq_img_2.jpg) center ;
              background-size: cover;
            }
          }

          &:nth-child(7) {
            .img-wrapper {
              background: url(../img/sq_img_1.jpg) center ;
              background-size: cover;
            }
          }

          &:nth-child(8) {
            .img-wrapper {
              background: url(../img/sq_img_3.jpg) center ;
              background-size: cover;
            }
          }

          &:nth-child(9) {
            .img-wrapper {
              background: url(../img/sq_img_4.jpg) center ;
              background-size: cover;
            }
          }

          &:nth-child(10) {
            .img-wrapper {
              background: url(../img/sq_img_5.jpg) center ;
              background-size: cover;
            }
          }
        }

      }

      .drag-button {
        position:absolute;
        text-align: center;
        height: 150px;
        width: 30px;
        padding: 100px 0;
        font-size: 35px;
        color:rgb(179, 177, 177);
        cursor: pointer;

        i{
          transform:translateY(-20px);
        }

      }

      .drag-button-prev {
        left: 0;
        top: 120px;

      }

      .drag-button-next {
        right: 0;
        top: 120px;

      }

      .drag-radio-btn {
        position:absolute;
        bottom: 0;
        right: 46%;
        display: flex;
        cursor: pointer;


        .drag-controller {
          width: 9px;
          height: 9px;
          background-color: rgb(221, 219, 219);
          border-radius: 5px;
          
          &:nth-child(2n+2) {
            margin: 0 10px;
          }
        }

        .clicked {
          background-color: $light-green;
        }
      }
    }
  }
  
}