.suggest {
  text-align: center;
  padding: 0 0 150px;

  hr {
    margin: 20px auto 40px;
  }

  .container{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;


    .swiper-container {
      width: 1024px;
      padding: 20px 0;
      overflow: hidden;

      .swiper-wrapper {
        width: 4800px;
        display: flex;
        padding: 0 0 0 35px;

        .swiper-slide {
          width: 300px;
          padding: 50px 0;
          margin: 0 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          flex-wrap: nowrap;
          background: #fff;
          border: 1px solid #f1f1f1;
          cursor: pointer;
          
          // &:nth-child(1) {
          //   margin: 0 10px 0 20px;
          // }
          // &:nth-child(15) {
          //   margin: 0 20px 0 10px;
          // }

          &:hover > .icon {
            color: $light-green;
            transform: translateY(-10px);
            transition: all 0.3s ease;
          }

          &:hover >  .place-desc {
            opacity: 1;
            transform: translateY(10px);
            transition: all 0.5s ease;
          }

          &:hover {
            transform:translateY(-10px);
            box-shadow: 3px 3px 10px rgb(238, 237, 237), 0 0 2px rgb(240, 240, 240);
            transition: all 0.3s ease;
          }

          .icon {

            &::before {
              text-align: center;
              font-size: 90px;
              margin: 0;
            }
          }

          .place-desc {
            opacity: 0;
            transform: translateY(30px);
            font-size: 12px;
            color: rgb(206, 205, 205);
            text-align: center;
          }
          
        }

      }

      .swiper-button {
        position:absolute;
        height: 150px;
        width: 30px;
        padding: 100px 10px;
        font-size: 35px;
        color:rgb(167, 167, 167);
        cursor: pointer;
      }

      .swiper-button-prev {
        left: 22.5%;
        top: 10px;
      }

      .swiper-button-next {
        right: 23%;
        top: 10px;
      }

      .swiper-radio-btn {
        position:absolute;
        bottom: -30px;
        right: 47.8%;
        display: flex;
        cursor: pointer;


        .swiper-controller {
          width: 9px;
          height: 9px;
          background-color: rgb(221, 219, 219);
          border-radius: 5px;
          
          &:nth-child(2n+2) {
            margin: 0 10px;
          }
        }

        .selected {
          background-color: $light-green;
        }
      }
    }
  }
}