.top-places { 
  padding: 100px 0 0;
  margin: 220px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: nowrap;
  border-top :1px solid #d1d1d1;

  ul {
    margin: 45px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
 
    &:hover > li {
      opacity: 0.5;
    }

    li {
      margin: 0 28px 0 0;
      position: relative;

      &:nth-child(4) {
        margin: 0;
      }

      .place {
        width: 230px;
        height: 340px;
        cursor: pointer;

        &:hover {
          transform: scale( 1.1 ) translateY(-17px);
          box-shadow: 5px 4px 10px rgb(216, 216, 216);
          transition: all 0.2s linear;
        }
        &:hover + .place-name {
          visibility: visible;
          bottom: -40px;
          transition: all 0.2s linear;
        }
      }

      .buena {
        background:url(../img/img_1.jpg) no-repeat center center;
        background-size: cover;
      }
      .road {
        background:url(../img/img_2.jpg) no-repeat center center;
        background-size: cover;
      }
      .australia {
        background:url(../img/img_3.jpg) no-repeat center center;
        background-size: cover;
      }
      .japan {
        background:url(../img/img_4.jpg) no-repeat center center;
        background-size: cover;
      }

      .place-name {
        visibility: hidden;
        font-size: 25px;
        font-weight: 300;
        position: absolute;
        bottom: 0;
        left: 80px;
        z-index: -1;

      }

      &:hover {
        opacity: 1;
      }
    }
  }
}