// common
@import './common/reset';
@import './common/colors';
@import './common/header';
@import './common/footer';


// pages
@import './main';


body {
  width: 100%;
  height: 100%;
  font-family: work sans,Arial,sans-serif;
  font-weight: 400;
}

hr {
  margin: 17px 0 20px;
  width: 46px;
  border: 1px solid $light-green;
}

h2 {
  font-size: 3.2rem;
  line-height: 1.1;
  font-weight: 300;
}