.about{
  .intro{

    .slide {
      width: 100vw;
      height: 100vh;
      display: block;
      background-color: $light;

      &-content-container {
        width: 100%;
        height: 100%;
        color:$black;

        p {
          width: 32.5%;
          position: absolute;
          top: 50.8%;
          left: 21%;
          font-family: "Roboto", sans-serif;
          font-size: 22px;
          font-weight: 300;
          line-height: 1.7;
        }
    
        h1 {
          position: absolute;
          top: 39.7%;
          left: 21%;
          font-family: "Cormorant Garamond", serif;
          font-weight: 900;
          font-size: 80px;
          line-height: 1.2;
        }
      }
    }
  }
  
  .management {

    .section-title {
      margin: 100px 0 70px;
      text-align: center;
      transform: translateX(-9px);

      h3 {
        padding: 16px 20px;
        font-family: "Cormorant Garamond", serif;
        font-size: 3rem;
        font-weight: 700;
      }
      hr {
        width: 49px;
      }
    }
  
    .philosophy {
      position: relative;
      .img-frame {
        width: 634px;
        height: 728px;
        display: inline-block;
        margin: 70px 0 0;
      
        img {
          width: 634px;
          height: 728px;
        }
      }

      .philo-desc{

        width: 50%;
        margin: 0 60px;
        display: inline-block;
        position: absolute;
        top: 0;

        div {
          width: 80%;
          display: inline-block;

          .desc-section-2 {
            width: 63.8%;
            position: absolute;
            right: -20%;   
          }
        }

        h4 {
          margin: 0 50px 30px;
          font-family: "Cormorant Garamond", serif;
          font-weight: 500;
          line-height: 1.2;
          font-size: 1.75rem;
        }

        p {
          padding : 0 50px;
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          color: #707070;
          line-height: 1.7;

          &:nth-child(2) {
            margin: 20px 0 0;
          }
        }
      }
    }
  }
  .video {
    margin: 300px 0 120px;
    text-align: center;

    img {
      width: 1111px;
    }

    &-desc {
      position: relative;
      margin: 0 0 60px;

      div {
        display: inline-block;
        text-align: left;

        &:nth-child(1) {
          width: 300px;
          padding: 0 0 0 60px;
          left:20%;

          h1 {
            font-family: "Cormorant Garamond", serif;
            font-size: 3.5rem;
            font-weight: 300;
            line-height: 1.2;
          }
        }

        &:nth-child(2) {
          right: 20%;
          width: 30%;

          p {
            padding : 0 50px;
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            color: #707070;
            line-height: 1.7;

            &:nth-child(2) {
              margin: 20px 0 0;
            }
          }
        }
      }
    }
  }
}