.amenities{

  .intro{

    .slide {
      width: 100vw;
      height: 100vh;
      display: block;

      &-content-container {
        width: 100%;
        height: 100%;
        color:$white;
    
        h1 {
          position: absolute;
          top: 44.5%;
          left: 41.4%;
          font-family: "Cormorant Garamond", serif;
          font-weight: 900;
          font-size: 80px;
          line-height: 1.2;
         
        }
      }
    }
    
    .bg {
      background: url(../img/room_2_b.jpg) no-repeat center center;
      background-size: cover;
    }
  }

  .amenities-section {
    margin: 100px 0;

    img {
      width: 50px;
      height: 50px;
      margin: 0 0 20px;
    }

    .section-title {
      margin: 100px 0 0;
      text-align: center;
      transform: translateX(-9px);

      h3 {
        padding: 16px 20px;
        font-family: "Cormorant Garamond", serif;
        font-size: 3rem;
        font-weight: 700;
      }

      hr {
        width: 49px;
      }
    }

    .card-list {
      width: 80%;
      margin: 70px 10% 0;
      text-align: center;

      .card {
        width: 257px;
        height: 313px;
        padding: 40px 40px 60px;
        margin: 0 50px 20px 0;
        display: inline-block;
        border: 1px solid rgb(236, 236, 236);

        text-align: center;

        &:nth-child(3) {
          transform: translateY(22px);

          &:hover {
            transform: translateY(18px);
          }
        }

        &:nth-child(6) {
          transform: translateY(30px);

          &:hover {
            transform: translateY(27px);
          }
        }

        &:hover {
          border: 1px solid $black;
          transform: translateY(-3px);
          transition: transform 0.2s linear;
          box-shadow: 0 5px 10px -5px rgb(218, 217, 217);
        }

        div {
          margin: 0 0 0.5rem;
          font-family: "Cormorant Garamond", serif;
          font-size: 20px;
          font-weight: 700;
          line-height: 1.2;
        }

        p {
          margin: 0 0 0.5rem;
          font-family: "Roboto", sans-serif;
          color: #707070;
          font-weight: 300;
          line-height: 1.7;
        }
      }
    }
  }
}