.gallery {
  .intro{
    .slide {
      width: 100vw;
      height: 100vh;
      display: block;

      &-content-container {
        width: 100%;
        height: 100%;
        color:$white;
    
        h1 {
          position: absolute;
          top: 44.5%;
          left: 44%;
          font-family: "Cormorant Garamond", serif;
          font-weight: 900;
          font-size: 80px;
          line-height: 1.2;
        }
      }
    }
    
    .bg {
      background: url(../img/room_2_b.jpg) no-repeat center center;
      background-size: cover;
    }
  }

  .section-title {
    margin: 100px 0 0;
    text-align: center;
    transform: translateX(-9px);

    h3 {
      padding: 16px 20px;
      font-family: "Cormorant Garamond", serif;
      font-size: 3rem;
      font-weight: 700;
    }

    hr {
      width: 49px;
    }
  }

  .slider-1,.preview-1 {
    background: url(../img/room_1_a.jpg)  no-repeat center center;
    background-size: cover;
  }

  .slider-2,.preview-2 {
    background: url(../img/room_1_b.jpg)  no-repeat center center;
    background-size: cover;
  }

  .slider-3,.preview-3 {
    background: url(../img/room_2_a.jpg)  no-repeat center center;
    background-size: cover;
  }

  .slider-4,.preview-4 {
    background: url(../img/room_2_b.jpg)  no-repeat center center;
    background-size: cover;
  }

  .show,.next {
    width: 100%;
    height: 100%;
    transition: all 0.3s;
  }

  .slider-gallery {
    margin: 100px 0;

    .current-img {
      width: 75%;
      height: 935px;
      position: relative;
      display: inline-block;

 
      .img-counter {
        width: 130px;
        height: 30px;
        padding: 20px 0;
        position: absolute;
        bottom: 0px;
        font-family: "Cormorant Garamond", serif;
        font-size: 20px;
        background: #fff;

        span {
          margin: 0 45px;
          text-align: center;
        }
      }

      .slide-controller {
        position:absolute;
        bottom: -20px;
        left: 47%;

        .arrow-btn {
          width: 50px;
          height: 50px;
          display: inline-block;
          border-radius: 25px;
          background-color: #fff;
          color: $gray;
          text-align: center;
          box-shadow: 0 15px 30px 0 rgb(194, 194, 194);
          outline:none;
          border:none;
          cursor: pointer;

          i{
            margin: 18px 0;
          }
        }
      }
    }
    .next-img {
      width: 23%;
      height: 750px;
      display: inline-block;
      position: absolute;
      right:0;
      margin: 4% 0;
      opacity: 0.3;
      cursor: pointer;
      &:hover {
        opacity: 0.5;
        transition: opacity 0.2s linear;
      }

      div {
        display: inline-block;
      }
    }
  }
  


  .more-galleries {

    div {
      &:nth-child(2) {
        margin: 100px 0;
      }
    }
    .img-list {
      text-align: center;


      li {
        display: inline-block;
        // vertical-align: top;
        margin: 1px 0 0;

        img {
          display: inline-block;
          // vertical-align: center;
          width: 100%;
          height: 100%;
        }
      }

      &:nth-child(2) {
        li {
          width: calc(62.3% / 3);
          height: calc(100% / 3);
        }
      }
    }
  }

}